/*
SHOCKWP Custom Admin
*/

:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #F7F9FA;
	--dark: #343a40;
	--blue-hover: #0056b3;
}

body {
	background: #fafafa;
}

a{
	color: #0056b3;
}

/* Publish post */

a#post-preview {
	width: 100%;
}

#post-body #side-sortables .postbox {
	border: 0;
	background: transparent;
	box-shadow: none;
}

#post-body #side-sortables #major-publishing-actions {
	border: 0;
	background: transparent;
}

#post-body #side-sortables .postbox .hndle,
#post-body #side-sortables .stuffbox .hndle {
	border: 0;
}

#publishing-action {
	float: left;
	text-align: left !important;
}

div#publishing-action {
	width: 100%;
}

input#publish {
	width: calc(100% - 30px);
}

#publishing-action .spinner {
	margin: 6px 0;
	float: right !important;
}

.wp-core-ui .button{
	border-radius: 0;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
	box-shadow: none;
	color: #fff;
	background: #545b62;
	border-color: #4e555b;
}

.wp-core-ui .button-secondary:focus,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button.hover,
.wp-core-ui .button:focus,
.wp-core-ui .button:hover {
	color: #fff;
	background: #5a6268;
	border-color: #545b62;
}

.wp-core-ui .button-secondary:active,
.wp-core-ui .button.active,
.wp-core-ui .button.active:hover,
.wp-core-ui .button:active {
	box-shadow: none;
	color: #fff;
	background: #545b62;
	border-color: #4e555b;
}

.wp-core-ui .button-secondary:focus,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.wp-core-ui .button-primary {
	box-shadow: none;
	text-shadow: none;
	background: #007bff;
	border-color: #007bff;
	color: #fff;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary:active {
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
	color: #fff !important;
	background-color: #007bff !important;
	border-color: #007bff !important;
	opacity: .65;
	text-shadow: none !important;
}

input[type=checkbox]:checked:before {
	color: #007bff;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=radio]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=password]:focus,
input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
	border-color: #99caff !important;
	box-shadow: none;
}

#wp-content-editor-tools {
	background: transparent;
}

.wp-media-buttons-icon::before {
	color: #fff !important;
}

.notice-info {
	border-left-color: #007bff;
	box-shadow: none;
}

.notice-success,
div.updated {
	border-left-color: #28a745;
	box-shadow: none;
}

.notice-dismiss:active:before,
.notice-dismiss:focus:before,
.notice-dismiss:hover:before {
	color: #dc3545;
}

#adminmenu .awaiting-mod,
#adminmenu .update-plugins,
.wp-ui-notification {
	background-color: #dc3545 !important;
}

.plugin-update-tr.active td,
.plugins .active th.check-column {
	border-left-color: #007bff;
}

.plugins .active td,
.plugins .active th {
	background: rgba(153, 202, 255, .2);
}

.wp-list-table a {
	color: #0056b3;
}

/* admin bar */

#wpadminbar {
	background: #fff;
}

#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
	color: #000;
}

#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
#wpadminbar>#wp-toolbar li.hover span.ab-label {
	color: #000;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
	color: #000000;
}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#wpadminbar li #adminbarsearch.adminbar-focused:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
	color: #000;
}

@media screen and (max-width: 782px) {
	.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
		color: #0069d9;
	}
}

/* admin menu */

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
	background: #fff;
}

#adminmenu a,
#adminmenu .wp-submenu a {
	color: #000;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
	background: #0069d9;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus {
	color: #000;
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
	background: #fff;
    color: #000;
}

#adminmenu li.menu-top:hover:before{
	content: "";
	display: block;
	background: #0069d9;
	height: 100%;
	width: 4px;
}

#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
	color: #0069d9;
}

#collapse-button:focus,
#collapse-button:hover {
	color: #fff;
}

#adminmenu .update-plugins.wf-menu-badge {
	background-color: #ffc107 !important;
}

/* plugins */
.filter-links .current {
	border-color: #007bff;
}

.filter-links li>a:focus,
.filter-links li>a:hover,
.show-filters .filter-links a.current:focus,
.show-filters .filter-links a.current:hover {
	color: #0056b3;
}

.wp-person a:focus .gravatar,
a:focus,
a:focus .media-icon img {
	box-shadow: none;
}

/* media */
.media-frame a {
	color: #0056b3;
}

/* login panel */

body.login-action-login {
	background-size: contain;
	background-position-x: right;
	overflow: hidden;
}

body.login-action-login::before {
	width: 40%;
	height: 100%;
	position: absolute;
	content: "";
	background: #fff;
	z-index: -1;
	left:0;
}

#login {
	width: 40%;
	float: left;
	color: #212529 !important;
	background: #fff;
	padding: 0;
	padding-top: calc(50vh / 2);
}

.login h1 {
	margin: 0 auto;
	max-width: 360px;
	padding-bottom: 5%;
}

.login h1 a {
	background: transparent !important;
	font-size: 2rem;
	font-weight: 700;
	margin: 0 auto;
	padding: 0;
	text-indent: inherit;
	display: inherit;
	width: auto;
	height: auto;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover {
	color: #444;
}

.login label {
	color: #6c757d;
	text-align: center;
	display: block;
}

.login form {
	background: transparent;
	box-shadow: none;
	padding: 0 !important;
	max-width: 360px;
	margin: 0 auto;
}

.login form .input,
.login form input[type=checkbox],
.login input[type=text] {
	background: #fff;
	color: #495057;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.login form .input,
.login input[type=text] {
	margin-bottom: 10px;
	padding: 3px 10px;
}

.login #backtoblog,
.login #nav {
	text-align: center;
}

.login form .forgetmenot {
	float: none;
	width: 100%;
	display: block;
	text-align: center;
}

#login form p.submit {
	float: none;
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 15px;
}

#login input#wp-submit {
	width: 100%;
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	height: auto;
}

.login #backtoblog a {
	color: #6c757d;
	font-size: 12px;
}

.login #nav a {
	color: #007bff;
	font-size: 14px;
}

.login #backtoblog a:hover,
.login #backtoblog a:focus,
.login #nav a:hover,
.login #nav a:focus {
	color: #0056b3;
}

.login #login_error,
.login .message,
.login .success {
	border-left-color: #007bff;
	box-shadow: none;
	text-align: center
}

a.privacy-policy-link {
	color: #007bff;
	text-decoration: none;
}

@media (max-width: 991px) {
	#login {
		width: auto;
		float: none;
		padding-top: 20%;
	}

	body.login-action-login::before {
		display: none;
		content: inherit;
	}

	body.login-action-login {
		background: #fff;
	}

	.login form {
		padding: 0 25px !important;
	}
}